extends master.pug
block css
   link(rel="stylesheet", href="assets/css/main.css", attr)
block content
   include ./components/Home/banner.pug
   include ./components/Home/portfolio.pug
   include ./components/Home/contact.pug
