doctype
html(lang='en')
    head
        meta(charset='utf-8')
        block css
        title
    body
      include ./layouts/header.pug
      block content
      script(src="js/main.js")
      include ./layouts/footer.pug